/*
>=1200
992-1199
768-991
576-768
460-576
414-460
375-414
320-375
*/

@media (max-width: 1400px){

    /*Отдел услуг*/

    .container.main .nabor {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 70px;
        row-gap: 50px;
    }

    /*Отдел "О нас"*/

    .about .container .info {
        width: 45%;
    }
    .about img {
        height: 400px;
    }
}

@media (max-width: 1200px){
    header nav {
        width: 50%;
    }

    /*Отдел заказ*/

    .container.hero .info {
        width: 45%;
    }
}

@media (max-width: 991px) {
    .container {
        padding: 15px 30px;
    }
    header nav {
        width: 60%;
    }

    /*Отдел заказ*/

    .container.hero .info {
        margin-top: 40px 0;
        width: 60%;
    }

    /*Отдел услуг*/

    .container.main .nabor {
        padding: 0 50px;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
    }
    .container.main .nabor p {
        margin-top: 15px;
    }
    .container.main .nabor .card {
        padding: 250px 10px 10px;
    }
    .container.main .nabor .card:hover {
        transform: none;
    }

    /*Отдел "О нас"*/

    .about img {
        border-radius: 50px;
    }
    .about .block.r img {
        clip-path: none;
    }
    .about .block.l img {
        clip-path: none;
    }
    .about .container .info.r {
        text-align: center;
    }
    
    .about .container .info.l {
        text-align: center;
    }
    .about .container .block {
        margin-top: 50px;
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        row-gap: 20px;
    }
    .about .container .info {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 15px 20px;
    }
    header nav {
        width: 70%;
    }

    /*Отдел заказ*/

    .container.hero .info {
        width: 75%;
    }

    /*Отдел услуг*/

    .container.main .nabor {
        padding: 0 25px;
        row-gap: 50px;
    }

    /*Отдел "О нас"*/

    .about img {
        width: 400px;
        border-radius: 50px;
    }
    .about .container p {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    header .container {
        padding: 25px 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    header span {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    header nav {
        margin-top: 25px;
        display: none;
        width: 100%;
        transition: all 500ms ease-in;
        animation-name: menu;
        animation-duration: 0.5s;
    }
    
    @keyframes menu {
        from {
            position: relative;
            top: -200px;
        }
        to {
            position: relative;
            top: 0;
        }
}
    header nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 35px;
    }
    header nav ul li {
        text-align: center;
    }
    header #btnMenu {
        display: flex;
    }

    /*Отдел услуг*/

    .container.main .nabor {
        padding: 0;
        row-gap: 30px;
    }

    /*Отдел "О нас"*/

    .about img {
        width: 250px;
        height: 200px;
        border-radius: 50px;
    }
    .about .container p {
        font-size: 1.2rem;
    }
    .about .container .block {
        margin-top: 15px;
        padding: 0;
        row-gap: 15px;
    }
    .about .container .info {
        width: 100%;
    }
    .about .container button {
        padding: 12px 10px;
        border-radius: 35px;
        font-weight: 600;
        font-size: 1.2rem;
    }
}